In [1]:
import pandas as pd
import fpl_functions as fpl

c:\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
league_id = '2306035'
LEAGUE_NAME, start_event, hist_Teams_data, Full_Selection_Data, All_Transfers, df_Transfers_IN_OUT = fpl.run_api_extraction(game_week=38,
                                                                                                            league_id=league_id)
print('done')

Code started at: 2024-09-29 09:43:43.383956
EXTRACTING DATA UP TO GAME WEEK 38
Checking for Game Week 6 now...
Checking done for Game Week 6.
Checking for Game Week 7 now...
Checking done for Game Week 7.
Checking for Game Week 8 now...
Checking done for Game Week 8.
Checking for Game Week 9 now...
Checking done for Game Week 9.
Checking for Game Week 10 now...
Checking done for Game Week 10.
Checking for Game Week 11 now...
Checking done for Game Week 11.
Checking for Game Week 12 now...
Checking done for Game Week 12.
Checking for Game Week 13 now...
Checking done for Game Week 13.
Checking for Game Week 14 now...
Checking done for Game Week 14.
Checking for Game Week 15 now...
Checking done for Game Week 15.
Checking for Game Week 16 now...
Checking done for Game Week 16.
Checking for Game Week 17 now...
Checking done for Game Week 17.
Checking for Game Week 18 now...
Checking done for Game Week 18.
Checking for Game Week 19 now...
Checking done for Game Week 19.
Checking for Game Week 20 now...
Checking done for Game Week 20.
Checking for Game Week 21 now...
Checking done for Game Week 21.
Checking for Game Week 22 now...
Checking done for Game Week 22.
Checking for Game Week 23 now...
Checking done for Game Week 23.
Checking for Game Week 24 now...
Checking done for Game Week 24.
Checking for Game Week 25 now...
Checking done for Game Week 25.
Checking for Game Week 26 now...
Checking done for Game Week 26.
Checking for Game Week 27 now...
Checking done for Game Week 27.
Checking for Game Week 28 now...
Checking done for Game Week 28.
Checking for Game Week 29 now...
Checking done for Game Week 29.
Checking for Game Week 30 now...
Checking done for Game Week 30.
Checking for Game Week 31 now...
Checking done for Game Week 31.
Checking for Game Week 32 now...
Checking done for Game Week 32.
Checking for Game Week 33 now...
Checking done for Game Week 33.
Checking for Game Week 34 now...
Checking done for Game Week 34.
Checking for Game Week 35 now...
Checking done for Game Week 35.
Checking for Game Week 36 now...
Checking done for Game Week 36.
Checking for Game Week 37 now...
Checking done for Game Week 37.
Checking for Game Week 38 now...
Checking done for Game Week 38.
Total errors found: 0
Code ended at: 2024-09-29 09:43:47.079178
Elapsed time: 00:00:03
done

In [3]:
LEAGUE_NAME

'Potato Farm'

In [4]:
start_event

6

In [5]:
hist_Teams_data.head()

,id,player_name,entry,entry_name,league_rank,event,points,total_points,rank,rank_sort,overall_rank,percentile_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,89348749,Imran Tan,6513419,Haalander FC,1,6,51,346,2368841,2393493,4024264,25,11,1001,2,4,4
1,89346820,Axel Ng,2124130,Axelander-Arnold,2,6,48,325,2970704,2975001,5525382,30,2,995,3,0,8
2,89552918,Lorenzo Khoo,1434678,LK,3,6,45,394,3577219,3584639,686481,35,22,1019,2,0,7
3,89346581,Jamie Lew,6723742,Saka Punch,4,6,34,309,6101370,6182871,6499483,60,3,1003,0,0,0
4,89346707,Reagan Tanto,10220647,Spartan City,5,6,23,83,8726369,8830417,10215860,90,1,1002,0,0,6

In [6]:
433-386

47

In [7]:
441-8

433

In [ ]:
All_Transfers.head()

In [ ]:
All_Transfers['element_in'].unique()

In [ ]:
player_data = fpl.get_player_info()
player_data.head()

In [ ]:
df_player_data = player_data[['name', 'id_player', 'web_name', 'plural_name_short']]
df_player_data.head()

In [12]:
# 2. Retrieve the element_in Player info
df_All_Transfers = pd.merge(left=All_Transfers,
                                        right=df_player_data,
                                        left_on='element_in',
                                        right_on='id_player',
                                        how='left',
                                        suffixes=('_Team', '_PlayerIn'))

# 3. Retrieve the element_out Player info
df_All_Transfers = pd.merge(left=df_All_Transfers,
                                    right=df_player_data,
                                    left_on='element_out',
                                    right_on='id_player',
                                    how='left',
                                    suffixes=('_PlayerIn', '_PlayerOut'))

In [ ]:
df_All_Transfers.head()